@page
@model LEADRS_NEW_DBFirst.Pages.DRE.IntoxilyzerReports.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCaseIntoxilyzerReport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.ProvidedBreath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.ProvidedBreath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.ProvidedBlood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.ProvidedBlood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.ProvidedUrine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.ProvidedUrine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.ProvidedSaliva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.ProvidedSaliva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.AttemptedBreath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.AttemptedBreath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.AttemptedBlood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.AttemptedBlood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.AttemptedUrine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.AttemptedUrine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.AttemptedSaliva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.AttemptedSaliva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.RefusedBreath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.RefusedBreath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.RefusedBlood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.RefusedBlood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.RefusedUrine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.RefusedUrine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.RefusedSaliva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.RefusedSaliva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathDateGiven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathDateGiven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathBeginWait)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathBeginWait)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathVerifytempId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathVerifytempId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathSubjectComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathSubjectComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathIntoxOperatorL5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathIntoxOperatorL5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathOperatorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathOperatorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathOperatorAgency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathOperatorAgency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathRecordNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathRecordNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathSerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathSerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathResult1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathResult1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathResult1Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathResult1Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathResult2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathResult2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathResult2Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathResult2Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BreathMoreLessIntoxIdL5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BreathMoreLessIntoxIdL5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodVials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodVials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodNamePwd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodNamePwd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodEmployerPwd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodEmployerPwd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodEmployedIdPwd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodEmployedIdPwd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodPhonePwd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodPhonePwd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodLocationBwd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodLocationBwd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodDatetimeSpecimenExtractedBwd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodDatetimeSpecimenExtractedBwd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodDescriptionBwd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodDescriptionBwd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodMoreLessIntoxId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodMoreLessIntoxId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodPreservative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodPreservative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodNoAlcohol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodNoAlcohol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.BloodRotated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.BloodRotated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.UrineDreObserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.UrineDreObserved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.UrineWhoObserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.UrineWhoObserved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.UrineToxScreenPerformed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.UrineToxScreenPerformed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.SalivaDreObserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.SalivaDreObserved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.SalivaWhoObserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.SalivaWhoObserved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.SalivaToxScreenPerformed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.SalivaToxScreenPerformed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxilyzerReport.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxilyzerReport.DreCaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCaseIntoxilyzerReport.DreCaseIntoxilyzerReportId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
