@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Images.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseImage[0].ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseImage[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseImage[0].DreCaseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseImage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DreCaseImageId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DreCaseImageId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DreCaseImageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
