@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Indicators.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreCaseIndicator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.HgnInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.HgnInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.VgnInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.VgnInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.LocInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.LocInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.PsInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.PsInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.RtlInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.RtlInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.PrInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.PrInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.BpInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.BpInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.BtInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.BtInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.MstInd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.MstInd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.CnsDep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.CnsDep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.HallBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.HallBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.CnsSti)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.CnsSti)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.DissAne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.DissAne)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.NarAna)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.NarAna)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.Inha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.Inha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.Cann)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.Cann)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpAlcohol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpAlcohol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpCannabis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpCannabis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpCnsDepressant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpCnsDepressant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpCnsStimulant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpCnsStimulant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpDissAnesthetic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpDissAnesthetic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpHallucinogen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpHallucinogen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpInhalant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpInhalant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpMedical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpMedical)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpNarcoticAnalgesic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpNarcoticAnalgesic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.OpNotImpaired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.OpNotImpaired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIndicator.DreCase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIndicator.DreCase.DrecaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreCaseIndicator?.DreCaseIndicatorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
