@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Videos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseVideo[0].VideoS3Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseVideo[0].ArchiveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseVideo[0].ApiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseVideo[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseVideo[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseVideo[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseVideo[0].DreCaseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseVideo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoS3Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArchiveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DreCaseVideoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DreCaseVideoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DreCaseVideoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
