@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Ftns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedPad1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MovedFinger1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].OpenedEyes1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedPad2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MovedFinger2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].OpenedEyes2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedPad3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MovedFinger3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].OpenedEyes3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedPad4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MovedFinger4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].OpenedEyes4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedPad5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MovedFinger5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].OpenedEyes5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedPad6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MovedFinger6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].OpenedEyes6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Swaying)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].BodyTremors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].EyelidTremors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MuscleTensions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Sounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].FtnNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedWrongHand1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].StartedUseWrongHand1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedWrongHand2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].StartedUseWrongHand2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedWrongHand3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].StartedUseWrongHand3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedWrongHand4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].StartedUseWrongHand4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedWrongHand5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].StartedUseWrongHand5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedWrongHand6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].StartedUseWrongHand6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].LegTremors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MuscleToneRigid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].MuscleToneFlaccid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].FtnBalanceGiven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UnableToPerform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UnderstoodInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].OpenedEyes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].AlmostFell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UsedArms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].UnableToStandStill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].OtherComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].HandDown1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].HandDown2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].HandDown3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].HandDown4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].HandDown5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].HandDown6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Sway1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Sway2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Sway3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Sway4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Sway5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].Sway6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseFingerToNose[0].DreCaseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseFingerToNose) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsedPad1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovedFinger1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedEyes1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedPad2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovedFinger2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedEyes2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedPad3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovedFinger3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedEyes3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedPad4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovedFinger4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedEyes4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedPad5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovedFinger5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedEyes5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedPad6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovedFinger6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedEyes6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Swaying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyTremors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyelidTremors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuscleTensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FtnNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedWrongHand1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedUseWrongHand1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedWrongHand2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedUseWrongHand2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedWrongHand3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedUseWrongHand3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedWrongHand4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedUseWrongHand4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedWrongHand5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedUseWrongHand5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedWrongHand6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedUseWrongHand6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegTremors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuscleToneRigid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuscleToneFlaccid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FtnBalanceGiven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnableToPerform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnderstoodInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedEyes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlmostFell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedArms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnableToStandStill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandDown1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandDown2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandDown3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandDown4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandDown5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandDown6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sway1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sway2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sway3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sway4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sway5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sway6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DreCaseFingerToNoseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DreCaseFingerToNoseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DreCaseFingerToNoseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
