@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoObs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCasesAoObs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.ClothingDisorderly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.ClothingDisorderly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.ClothingSoiled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.ClothingSoiled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.ClothingStained)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.ClothingStained)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.ClothingTorn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.ClothingTorn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.ClothingOrderly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.ClothingOrderly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.BalanceSwaying)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.BalanceSwaying)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.BalanceUnsteady)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.BalanceUnsteady)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.BalanceNeededSupport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.BalanceNeededSupport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.BalanceFallingDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.BalanceFallingDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.BalanceNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.BalanceNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.WalkingStaggering)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.WalkingStaggering)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.WalkingFalling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.WalkingFalling)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.WalkingSwaying)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.WalkingSwaying)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.WalkingHeavyFooted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.WalkingHeavyFooted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.WalkingNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.WalkingNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.SpeechSlurred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.SpeechSlurred)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.SpeechIncoherent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.SpeechIncoherent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.SpeechThickTongued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.SpeechThickTongued)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.SpeechSlowMumbled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.SpeechSlowMumbled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.SpeechNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.SpeechNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.EyesRed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.EyesRed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.EyesWatering)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.EyesWatering)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.EyesDilated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.EyesDilated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.EyesDroopyEyeLids)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.EyesDroopyEyeLids)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.EyesNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.EyesNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.AttitudeUnCooperative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.AttitudeUnCooperative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.AttitudeCooperative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.AttitudeCooperative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.AttitudeCombative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.AttitudeCombative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.AttitudeIndifferent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.AttitudeIndifferent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.AttitudeCocky)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.AttitudeCocky)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.AttitudeApologetic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.AttitudeApologetic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.TypeOfAlcohol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.TypeOfAlcohol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.UnusualActions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.UnusualActions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugSuspected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugSuspected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugWhySuspected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugWhySuspected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugCategoryCnsdepressant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugCategoryCnsdepressant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugCategoryHallucinogents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugCategoryHallucinogents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugCategoryNarcoticAbalgestic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugCategoryNarcoticAbalgestic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugCategoryCannabis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugCategoryCannabis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugCategoryCnsstimulants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugCategoryCnsstimulants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugCategoryPcp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugCategoryPcp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugCategoryInhalants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugCategoryInhalants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DrugReasonSuspected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DrugReasonSuspected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.Bac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.Bac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentPbt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentPbt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentIntoxilyzer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentIntoxilyzer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentRefused)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentRefused)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentNa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentNa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentPending)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentPending)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentWarrant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentWarrant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.InstrumentPbtdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.InstrumentPbtdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.AdditionalBreathPerformed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.AdditionalBreathPerformed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.BreathInstrumentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.BreathInstrumentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.BreathRefused)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.BreathRefused)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.BreathResults)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.BreathResults)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.TypeAlcoholDrug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.TypeAlcoholDrug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesAoObs.DreCase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesAoObs.DreCase.DrecaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCasesAoObs.ObservationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
