@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoObs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].ClothingDisorderly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].ClothingSoiled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].ClothingStained)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].ClothingTorn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].ClothingOrderly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BalanceSwaying)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BalanceUnsteady)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BalanceNeededSupport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BalanceFallingDown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BalanceNormal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].WalkingStaggering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].WalkingFalling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].WalkingSwaying)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].WalkingHeavyFooted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].WalkingNormal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].SpeechSlurred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].SpeechIncoherent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].SpeechThickTongued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].SpeechSlowMumbled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].SpeechNormal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].EyesRed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].EyesWatering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].EyesDilated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].EyesDroopyEyeLids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].EyesNormal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].AttitudeUnCooperative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].AttitudeCooperative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].AttitudeCombative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].AttitudeIndifferent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].AttitudeCocky)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].AttitudeApologetic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].TypeOfAlcohol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].UnusualActions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugSuspected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugWhySuspected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugCategoryCNSDepressant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugCategoryHallucinogents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugCategoryNarcoticAbalgestic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugCategoryCannabis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugCategoryCNSStimulants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugCategoryPCP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugCategoryInhalants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DrugReasonSuspected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentPBT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentIntoxilyzer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentOther)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentRefused)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentNA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentPending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentWarrant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].InstrumentPBTDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].AdditionalBreathPerformed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].TypeAlcoholDrug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BreathRefused)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BreathResults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].BreathInstrumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerObservation[0].DreCaseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseArrestingOfficerObservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingDisorderly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingSoiled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingStained)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingTorn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingOrderly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceSwaying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceUnsteady)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceNeededSupport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceFallingDown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceNormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkingStaggering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkingFalling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkingSwaying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkingHeavyFooted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkingNormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeechSlurred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeechIncoherent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeechThickTongued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeechSlowMumbled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeechNormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyesRed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyesWatering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyesDilated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyesDroopyEyeLids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyesNormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttitudeUnCooperative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttitudeCooperative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttitudeCombative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttitudeIndifferent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttitudeCocky)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttitudeApologetic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfAlcohol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnusualActions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugSuspected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugWhySuspected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCategoryCNSDepressant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCategoryHallucinogents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCategoryNarcoticAbalgestic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCategoryCannabis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCategoryCNSStimulants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCategoryPCP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCategoryInhalants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugReasonSuspected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentPBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentIntoxilyzer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentOther)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentRefused)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentNA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentPending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentWarrant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentPBTDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalBreathPerformed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeAlcoholDrug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreathRefused)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreathResults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreathInstrumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ObservationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ObservationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ObservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
