@page
@model LEADRS_NEW_DBFirst.Pages.DRE.ToxicologyDrugs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseToxicologyDrug[0].DpsDrugListId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseToxicologyDrug[0].DrugResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseToxicologyDrug[0].DrugMeasurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseToxicologyDrug[0].DreCaseToxSpec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseToxicologyDrug[0].DreCaseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseToxicologyDrug) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DpsDrugListId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugMeasurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCaseToxSpec.DreCaseToxSpecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DreCaseToxDrugId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DreCaseToxDrugId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DreCaseToxDrugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
