@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoFsts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCaseArrestingOfficerFST</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNCluesLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNCluesLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNCluesRight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNCluesRight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNCluesTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNCluesTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNLackOfPursuitLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNLackOfPursuitLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNLackOfPursuitRight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNLackOfPursuitRight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNDistinctMaxDevLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNDistinctMaxDevLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNDistinctMaxDevRight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNDistinctMaxDevRight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNOnsetPrior45Left)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNOnsetPrior45Left)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.HGNOnsetPrior45Right)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.HGNOnsetPrior45Right)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.IsHGNVerticalNyst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.IsHGNVerticalNyst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnStartSoon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnStartSoon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnStepOffLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnStepOffLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnMissHeelToe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnMissHeelToe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnRaisesArms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnRaisesArms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnWrongNumberSteps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnWrongNumberSteps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnStopWalking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnStopWalking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnImproperTurn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnImproperTurn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnCannotBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnCannotBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.WalkTurnClues)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.WalkTurnClues)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.OneLegSways)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.OneLegSways)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.OneLegUsesArms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.OneLegUsesArms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.OneLegHopps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.OneLegHopps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.OneLegPutFootDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.OneLegPutFootDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.OneLegClues)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.OneLegClues)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerFST.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerFST.DreCaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCaseArrestingOfficerFST.ArrestingOfficerFSTId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
