@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoFsts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgncluesLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgncluesRight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgncluesTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgnlackOfPursuitLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgnlackOfPursuitRight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgndistinctMaxDevLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgndistinctMaxDevRight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgnonsetPrior45Left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].HgnonsetPrior45Right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].IsHgnverticalNyst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnStartSoon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnStepOffLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnMissHeelToe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnRaisesArms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnWrongNumberSteps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnStopWalking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnImproperTurn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnCannotBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].WalkTurnClues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].OneLegSways)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].OneLegUsesArms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].OneLegHopps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].OneLegPutFootDown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].OneLegClues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoFst[0].DreCase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseAoFst) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HgncluesLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HgncluesRight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HgncluesTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HgnlackOfPursuitLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HgnlackOfPursuitRight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HgndistinctMaxDevLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HgndistinctMaxDevRight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HgnonsetPrior45Left)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HgnonsetPrior45Right)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHgnverticalNyst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnStartSoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnStepOffLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnMissHeelToe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnRaisesArms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnWrongNumberSteps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnStopWalking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnImproperTurn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnCannotBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnClues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneLegSways)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneLegUsesArms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneLegHopps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneLegPutFootDown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneLegClues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCase.DrecaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ArrestingOfficerFstid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ArrestingOfficerFstid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ArrestingOfficerFstid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
