@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Offenses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].Charged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].DWI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].OffenseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].RecklessDriving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].PublicIntox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].Theft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].TheftCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].Assault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].AssaultCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].Possession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].PossessionCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].OtherCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].CrashId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].InjuryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].NoChargeComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseOffense[0].DreCaseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseOffense) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Charged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DWI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffenseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecklessDriving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicIntox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheftCharged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssaultCharged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Possession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossessionCharged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherCharged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrashId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InjuryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoChargeComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DreCaseOffenseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DreCaseOffenseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DreCaseOffenseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
