@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Wts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreCaseWalkTurn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.ActualSteps1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.ActualSteps1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.ActualSteps2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.ActualSteps2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.BodyTremos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.BodyTremos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.CannotBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.CannotBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.EyelidsTremos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.EyelidsTremos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.ImproperTurn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.ImproperTurn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.LegTremos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.LegTremos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.MissHellToe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.MissHellToe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.MuscleTensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.MuscleTensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.RaisesArms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.RaisesArms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.OtherComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.OtherComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.SO_LL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.SO_LL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.SO_LR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.SO_LR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.SO_RL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.SO_RL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.SO_RR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.SO_RR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.Sounds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.Sounds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.StartsSoon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.StartsSoon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.StepOffLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.StepOffLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.StopsWalking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.StopsWalking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.Swaying)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.Swaying)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.UnableToPerform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.UnableToPerform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.UnserstoodInstructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.UnserstoodInstructions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WalkTurnGiven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WalkTurnGiven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WrongNumberSteps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WrongNumberSteps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTMissesFirstNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTMissesFirstNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTMissesSecondNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTMissesSecondNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTNAFirstNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTNAFirstNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTNASecondNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTNASecondNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTRaisesFirstNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTRaisesFirstNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTRaisesSecondNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTRaisesSecondNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTStepCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTStepCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTStepCountSecond)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTStepCountSecond)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTStepsLeftFirstNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTStepsLeftFirstNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTStepsLeftSecondNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTStepsLeftSecondNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTStepsRightFirstNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTStepsRightFirstNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTStepsRightSecondNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTStepsRightSecondNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTStopsFirstNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTStopsFirstNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTStopsSecondNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTStopsSecondNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTTakensFirstNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTTakensFirstNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WTTakenSecondNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WTTakenSecondNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WalkTurnNoTest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WalkTurnNoTest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.WalkTurnDescribeTurn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.WalkTurnDescribeTurn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.OLSComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.OLSComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.OLSStarts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.OLSStarts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseWalkTurn.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseWalkTurn.DreCaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreCaseWalkTurn?.DreCaseWTId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
