@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Wts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].ActualSteps1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].ActualSteps2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].BodyTremos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].CannotBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].EyelidsTremos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].ImproperTurn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].LegTremos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].MissHellToe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].MuscleTensions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].RaisesArms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].SoLl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].SoLr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].SoRl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].SoRr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].Sounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].StartsSoon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].StepOffLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].StopsWalking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].Swaying)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].UnableToPerform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].UnserstoodInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WalkTurnGiven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WrongNumberSteps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtmissesFirstNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtmissesSecondNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtnafirstNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtnasecondNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].Wtother)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtraisesFirstNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtraisesSecondNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtstepCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtstepCountSecond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtstepsLeftFirstNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtstepsLeftSecondNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtstepsRightFirstNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtstepsRightSecondNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtstopsFirstNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WtstopsSecondNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WttakensFirstNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WttakenSecondNine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WalkTurnNoTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].Olscomments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].OtherComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].WalkTurnDescribeTurn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].Olsstarts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseWt[0].DreCase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseWt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActualSteps1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualSteps2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyTremos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CannotBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyelidsTremos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImproperTurn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegTremos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissHellToe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuscleTensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaisesArms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoRl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoRr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartsSoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepOffLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopsWalking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Swaying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnableToPerform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnserstoodInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnGiven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrongNumberSteps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtmissesFirstNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtmissesSecondNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtnafirstNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtnasecondNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wtother)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtraisesFirstNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtraisesSecondNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtstepCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtstepCountSecond)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtstepsLeftFirstNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtstepsLeftSecondNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtstepsRightFirstNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtstepsRightSecondNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtstopsFirstNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WtstopsSecondNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WttakensFirstNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WttakenSecondNine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnNoTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Olscomments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkTurnDescribeTurn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Olsstarts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCase.DrecaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DreCaseWtid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DreCaseWtid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DreCaseWtid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
