@page
@model LEADRS_NEW_DBFirst.Pages.DRE._OPT.DreCaseStatus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblOptDreCaseStatus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOptDreCaseStatus.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOptDreCaseStatus.StatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOptDreCaseStatus.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOptDreCaseStatus.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblOptDreCaseStatus?.DrecaseStatusId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
