@page
@model LEADRS_NEW_DBFirst.Pages.DRE._OPT.DRENotified.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreNotified</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreNotified.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreNotified.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreNotified.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreNotified.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreNotified?.DreNotifiedId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
