@page
@model LEADRS_NEW_DBFirst.Pages.DRE.IntoxSalivaScreens.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreCaseIntoxSalivaScreen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxSalivaScreen.ToxScreenResultId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxSalivaScreen.ToxScreenResultId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxSalivaScreen.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxSalivaScreen.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseIntoxSalivaScreen.DreCaseIntoxilyzerReport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseIntoxSalivaScreen.DreCaseIntoxilyzerReport.DreCaseIntoxilyzerReportId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreCaseIntoxSalivaScreen?.DreSalivaToxResultId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
