@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Ols.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCaseOls</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlstimeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlstimeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlstimeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlstimeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsswaysL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsswaysL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsswaysR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsswaysR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsarmsL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsarmsL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsarmsR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsarmsR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlshoppingL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlshoppingL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlshoppingR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlshoppingR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsfootL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsfootL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsfootR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsfootR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsleftDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsleftDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsleftDownCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsleftDownCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsrightDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsrightDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsrightDownCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsrightDownCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.FootWearTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.FootWearTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OneLegStandGiven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OneLegStandGiven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.UnableToPerform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.UnableToPerform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.UnderstoodInstruction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.UnderstoodInstruction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.MuscleTensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.MuscleTensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.Sounds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.Sounds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.Olsnoates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.Olsnoates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsarmTimeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsarmTimeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsarmTimeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsarmTimeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsswayTimeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsswayTimeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsswayTimeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsswayTimeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlshopTimeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlshopTimeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlshopTimeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlshopTimeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlstimeLeftDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlstimeLeftDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlstimeRightDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlstimeRightDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.NolookDownL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.NolookDownL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.NolookDownR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.NolookDownR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.NoCountL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.NoCountL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.NoCountR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.NoCountR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.NotSixInchesL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.NotSixInchesL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.NotSixInchesR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.NotSixInchesR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.BodyTremosL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.BodyTremosL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.EyeLidTremosL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.EyeLidTremosL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.LegTremosL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.LegTremosL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OtherL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OtherL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsotherL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsotherL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.BodyTremosR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.BodyTremosR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.EyeLidTremosR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.EyeLidTremosR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.LegTremosR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.LegTremosR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OtherR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OtherR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.OlsotherR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.OlsotherR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.Olscomments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.Olscomments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOls.DreCase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOls.DreCase.DrecaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCaseOls.DreCaseOlsid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
