@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Ols.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreCaseOneLegStand</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSTimeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSTimeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSTimeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSTimeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSSwaysL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSSwaysL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSSwaysR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSSwaysR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSArmsL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSArmsL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSArmsR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSArmsR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSHoppingL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSHoppingL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSHoppingR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSHoppingR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSFootL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSFootL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSFootR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSFootR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSLeftDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSLeftDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSLeftDownCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSLeftDownCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSRightDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSRightDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSRightDownCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSRightDownCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.FootWearTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.FootWearTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OneLegStandGiven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OneLegStandGiven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.UnableToPerform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.UnableToPerform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.UnderstoodInstruction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.UnderstoodInstruction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.MuscleTensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.MuscleTensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.Sounds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.Sounds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSNoates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSNoates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSArmTimeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSArmTimeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSArmTimeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSArmTimeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSSwayTimeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSSwayTimeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSSwayTimeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSSwayTimeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSHopTimeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSHopTimeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSHopTimeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSHopTimeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSTImeLeftDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSTImeLeftDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSTImeRightDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSTImeRightDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.NOLookDownL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.NOLookDownL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.NOLookDownR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.NOLookDownR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.NoCountL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.NoCountL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.NoCountR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.NoCountR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.NotSixInchesL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.NotSixInchesL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.NotSixInchesR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.NotSixInchesR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.BodyTremosL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.BodyTremosL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.EyeLidTremosL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.EyeLidTremosL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.LegTremosL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.LegTremosL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OtherL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OtherL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSOtherL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSOtherL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.BodyTremos_R)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.BodyTremos_R)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.EyeLidTremosR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.EyeLidTremosR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.LegTremosR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.LegTremosR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OtherR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OtherR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSOtherR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSOtherR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.OLSComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.OLSComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOneLegStand.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOneLegStand.DreCaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreCaseOneLegStand?.DreCaseOLSId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
