@page
@model LEADRS_NEW_DBFirst.Pages.DRE.OtherObservations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreCaseOtherObservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.MtNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.MtNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.MtFlaccid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.MtFlaccid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.MtRigid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.MtRigid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.MtComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.MtComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.InjectionSitesId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.InjectionSitesId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.InjRaText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.InjRaText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.InjLaText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.InjLaText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.InjComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.InjComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.PulseRate3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.PulseRate3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.PulseTime3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.PulseTime3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.PulseSite3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.PulseSite3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubDrugs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.SubDrugs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubDrugsQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.SubDrugsQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubDrugsTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.SubDrugsTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubDrugsWhere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.SubDrugsWhere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubOtherComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.SubOtherComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.EvalCompletionTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.EvalCompletionTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubRefusedEval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.SubRefusedEval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubStopPartEval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.SubStopPartEval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseOtherObservation.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseOtherObservation.DreCaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreCaseOtherObservation?.OtherObservationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
