@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Defendants.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCaseDefendant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.EthnicityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.EthnicityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.SexId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.SexId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.RaceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.RaceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.ArrestingOfficerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.ArrestingOfficerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.ArrestingOfficerAgency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.ArrestingOfficerAgency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.ArrestingOfficerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.ArrestingOfficerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.ArrestingOfficerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.ArrestingOfficerType.ArrestingOfficerTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseDefendant.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseDefendant.DreCaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCaseDefendant.DreCaseDefendantId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
