@page
@model LEADRS_NEW_DBFirst.Pages.DRE.DarkRooms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreCasesDarkRoom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.LightL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.LightL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.LightR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.LightR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.DarkL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.DarkL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.DarkR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.DarkR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.DirectL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.DirectL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.DirectR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.DirectR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.ReboundY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.ReboundY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.ReboundN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.ReboundN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.HippusObserveD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.HippusObserveD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.LightReaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.LightReaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.NasalAreaClear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.NasalAreaClear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.NasalAreaRed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.NasalAreaRed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.NasalAreableeding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.NasalAreableeding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.NasalAreadeviated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.NasalAreadeviated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.NasalAreawhite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.NasalAreawhite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.NasalAreaother)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.NasalAreaother)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.NasalAreaothertxt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.NasalAreaothertxt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityclear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityclear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityRaised)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityRaised)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityMarijuana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityMarijuana)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityDry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityDry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityRotten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityRotten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityGreen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityGreen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityMissing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityMissing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.OralCavityOtherText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.OralCavityOtherText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.ReactionToLightId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.ReactionToLightId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.ReboundStartL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.ReboundStartL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.ReboundEndL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.ReboundEndL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.ReboundStartR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.ReboundStartR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.ReboundEndR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.ReboundEndR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.UvLight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.UvLight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesDarkRoom.DreCase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesDarkRoom.DreCase.DrecaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreCasesDarkRoom?.DreCaseDarkRoomId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
