@page
@model LEADRS_NEW_DBFirst.Pages.DRE._OPT.DpsDrugLists.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DpsDrugList[0].DpsDrug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DpsDrugList[0].DpsDrugCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DpsDrugList[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DpsDrugList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DpsDrug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DpsDrugCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DpsDrugListId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DpsDrugListId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DpsDrugListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
