@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Obs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreCasesObs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeCooperative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeCooperative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeCombative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeCombative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeIndifferent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeIndifferent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeCocky)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeCocky)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeApologetic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeApologetic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeRestless)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeRestless)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeDisoriented)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeDisoriented)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeAnxious)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeAnxious)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeRelaxed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeRelaxed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeCareFree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeCareFree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeConfused)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeConfused)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeDazed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeDazed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeParanoid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeParanoid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeTalkative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeTalkative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeUninhibited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeUninhibited)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeExcited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeExcited)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudePassive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudePassive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeNonCommunicative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeNonCommunicative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.AttitudeOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.AttitudeOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceSwaying)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceSwaying)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceUnsteady)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceUnsteady)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceNeededSupport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceNeededSupport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceFallingDown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceFallingDown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalancePoor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalancePoor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceSlow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceSlow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceUncoordinated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceUncoordinated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceSluggish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceSluggish)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceDepressedReflexes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceDepressedReflexes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BalanceMoonWalking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BalanceMoonWalking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechSlurred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechSlurred)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechIncoherent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechIncoherent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechThickTongued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechThickTongued)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechSlowMumbled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechSlowMumbled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechSlow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechSlow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechLow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechLow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechRaspy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechRaspy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechRapidFast)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechRapidFast)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechIncompleteVerbalResposes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechIncompleteVerbalResposes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.SpeechOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.SpeechOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.WalkingStaggering)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.WalkingStaggering)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.WalkingFalling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.WalkingFalling)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.WalkingHeavyFooted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.WalkingHeavyFooted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.WalkingSwaying)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.WalkingSwaying)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.WalkingNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.WalkingNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BreathNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BreathNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BreathAlcohol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BreathAlcohol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BreathMarijuana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BreathMarijuana)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BreathChemical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BreathChemical)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BreathBad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BreathBad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BreathOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BreathOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceFlushed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceFlushed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FacePale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FacePale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceScars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceScars)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceOpenSores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceOpenSores)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceInjuries)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceInjuries)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceFacialItching)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceFacialItching)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceBlankStare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceBlankStare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceDazedAppearance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceDazedAppearance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceSryMouth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceSryMouth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceBruxism)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceBruxism)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceOnTheNod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceOnTheNod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceResidueOfSubstance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceResidueOfSubstance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.LensesNone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.LensesNone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.Glasses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.Glasses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.Contacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.Contacts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.ContactsSoft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.ContactsSoft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.ContactsHard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.ContactsHard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.EyesRed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.EyesRed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.EyesWatery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.EyesWatery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.EyesBloodShot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.EyesBloodShot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.EyesNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.EyesNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BlindnessNone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BlindnessNone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BlindnessLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BlindnessLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BlindnessRight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BlindnessRight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.BlindnessComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.BlindnessComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.TrackingEqual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.TrackingEqual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.TrackingUnequal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.TrackingUnequal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.TrackingUnequalDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.TrackingUnequalDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.CoordinationOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.CoordinationOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.EyelidsDroopy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.EyelidsDroopy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.EyelidsNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.EyelidsNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceDryMouth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceDryMouth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.FaceSweatyPerspiring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.FaceSweatyPerspiring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCasesObs.DreCase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCasesObs.DreCase.DrecaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreCasesObs?.DreCaseObservationsId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
