@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoInterviews.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCaseArrestingOfficerInterview</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.DateTimeOfArrest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.DateTimeOfArrest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.OfficerInterview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.OfficerInterview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectOpertingVehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectOpertingVehicle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectOpertingVehicleDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectOpertingVehicleDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectDrivingVehicleDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectDrivingVehicleDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectVehicleCrashed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectVehicleCrashed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectVehicleCrashedDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectVehicleCrashedDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectSeenSmokeDrink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectSeenSmokeDrink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectSeenSmokeDrinkDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectSeenSmokeDrinkDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectInhalingSubstance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectInhalingSubstance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectInhalingSubstanceDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectInhalingSubstanceDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectRespondingStopDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectRespondingStopDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectTryConcealOrThrowMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectTryConcealOrThrowMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectTryConcealOrThrowMaterialDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectTryConcealOrThrowMaterialDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectAttitudeDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectAttitudeDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectAttitudCompareDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectAttitudCompareDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectComplainedInjury)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectComplainedInjury)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectComplainedInjuryDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectComplainedInjuryDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectUsedSteetNameDrug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectUsedSteetNameDrug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectUsedSteetNameDrugDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectUsedSteetNameDrugDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectRespondToOfficer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectRespondToOfficer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectSpeechAppearSlurred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectSpeechAppearSlurred)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectSpeechAppearSlurredDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectSpeechAppearSlurredDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectMentionPrescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectMentionPrescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectMentionPrescriptionDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectMentionPrescriptionDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundMaterialDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundMaterialDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundInjectionMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundInjectionMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundInjectionMaterialDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundInjectionMaterialDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundBallonPlastic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundBallonPlastic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundBallonPlasticDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundBallonPlasticDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundDrugResidue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundDrugResidue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundDrugResidueDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundDrugResidueDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundPrescriptionBottles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundPrescriptionBottles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundPrescriptionBottlesDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.SubjectFoundPrescriptionBottlesDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseArrestingOfficerInterview.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseArrestingOfficerInterview.DreCaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCaseArrestingOfficerInterview.InterviewId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
