@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoInterviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DreCaseAoInterview</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.DateTimeOfArrest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.DateTimeOfArrest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.OfficerInterview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.OfficerInterview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectOpertingVehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectOpertingVehicle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectOpertingVehicleDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectOpertingVehicleDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectDrivingVehicleDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectDrivingVehicleDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectVehicleCrashed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectVehicleCrashed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectVehicleCrashedDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectVehicleCrashedDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectSeenSmokeDrink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectSeenSmokeDrink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectSeenSmokeDrinkDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectSeenSmokeDrinkDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectInhalingSubstance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectInhalingSubstance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectInhalingSubstanceDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectInhalingSubstanceDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectRespondingStopDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectRespondingStopDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectTryConcealOrThrowMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectTryConcealOrThrowMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectTryConcealOrThrowMaterialDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectTryConcealOrThrowMaterialDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectAttitudeDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectAttitudeDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectAttitudCompareDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectAttitudCompareDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectComplainedInjury)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectComplainedInjury)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectComplainedInjuryDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectComplainedInjuryDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectUsedSteetNameDrug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectUsedSteetNameDrug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectUsedSteetNameDrugDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectUsedSteetNameDrugDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectRespondToOfficer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectRespondToOfficer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectSpeechAppearSlurred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectSpeechAppearSlurred)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectSpeechAppearSlurredDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectSpeechAppearSlurredDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectMentionPrescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectMentionPrescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectMentionPrescriptionDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectMentionPrescriptionDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundMaterialDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundMaterialDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundInjectionMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundInjectionMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundInjectionMaterialDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundInjectionMaterialDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundBallonPlastic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundBallonPlastic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundBallonPlasticDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundBallonPlasticDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundDrugResidue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundDrugResidue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundDrugResidueDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundDrugResidueDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundPrescriptionBottles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundPrescriptionBottles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.SubjectFoundPrescriptionBottlesDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.SubjectFoundPrescriptionBottlesDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseAoInterview.DreCase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseAoInterview.DreCase.DrecaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DreCaseAoInterview?.InterviewId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
