@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoInterviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].DateTimeOfArrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].OfficerInterview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectOpertingVehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectOpertingVehicleDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectDrivingVehicleDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectVehicleCrashed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectVehicleCrashedDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectSeenSmokeDrink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectSeenSmokeDrinkDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectInhalingSubstance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectInhalingSubstanceDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectRespondingStopDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectTryConcealOrThrowMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectTryConcealOrThrowMaterialDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectAttitudeDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectAttitudCompareDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectComplainedInjury)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectComplainedInjuryDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectUsedSteetNameDrug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectUsedSteetNameDrugDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectRespondToOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectSpeechAppearSlurred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectSpeechAppearSlurredDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectMentionPrescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectMentionPrescriptionDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundMaterialDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundInjectionMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundInjectionMaterialDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundBallonPlastic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundBallonPlasticDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundDrugResidue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundDrugResidueDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundPrescriptionBottles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].SubjectFoundPrescriptionBottlesDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseAoInterview[0].DreCase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseAoInterview) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeOfArrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficerInterview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectOpertingVehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectOpertingVehicleDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectDrivingVehicleDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectVehicleCrashed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectVehicleCrashedDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectSeenSmokeDrink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectSeenSmokeDrinkDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectInhalingSubstance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectInhalingSubstanceDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectRespondingStopDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectTryConcealOrThrowMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectTryConcealOrThrowMaterialDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectAttitudeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectAttitudCompareDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectComplainedInjury)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectComplainedInjuryDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectUsedSteetNameDrug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectUsedSteetNameDrugDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectRespondToOfficer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectSpeechAppearSlurred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectSpeechAppearSlurredDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectMentionPrescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectMentionPrescriptionDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundMaterialDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundInjectionMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundInjectionMaterialDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundBallonPlastic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundBallonPlasticDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundDrugResidue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundDrugResidueDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundPrescriptionBottles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectFoundPrescriptionBottlesDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCase.DrecaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InterviewId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InterviewId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InterviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
