@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Hgns.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCaseHgn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.CluesLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.CluesLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.CluesRight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.CluesRight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.CluesTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.CluesTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.HeadInjuries)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.HeadInjuries)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.HeadInjuriesComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.HeadInjuriesComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.Contacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.Contacts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.ContactDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.ContactDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.EqualPupilSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.EqualPupilSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.PupilSizeComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.PupilSizeComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.RestingNystagmus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.RestingNystagmus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.EqualTracking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.EqualTracking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.FollowStimulus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.FollowStimulus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.StimulusComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.StimulusComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.LackOfPursuitL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.LackOfPursuitL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.LackOfPursuitR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.LackOfPursuitR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.DistinctMaxDevL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.DistinctMaxDevL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.DistinctMaxDevR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.DistinctMaxDevR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.OnsetPrior45L)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.OnsetPrior45L)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.OnsetPrior45R)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.OnsetPrior45R)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.IsVerticalNyst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.IsVerticalNyst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.OtherComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.OtherComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.HgnUnderstood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.HgnUnderstood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.VerticalNyst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.VerticalNyst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.HgnEstimatedAngleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.HgnEstimatedAngleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.LestimatedAngleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.LestimatedAngleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.RestimatedAngleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.RestimatedAngleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.ConvergencePresent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.ConvergencePresent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHgn.DreCase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHgn.DreCase.DrecaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCaseHgn.DreCaseHgnId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
