@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Hgns.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCaseHGN</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.CluesLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.CluesLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.CluesRight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.CluesRight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.CluesTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.CluesTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.HeadInjuries)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.HeadInjuries)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.HeadInjuriesComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.HeadInjuriesComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.Contacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.Contacts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.ContactDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.ContactDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.EqualPupilSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.EqualPupilSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.PupilSizeComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.PupilSizeComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.RestingNystagmus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.RestingNystagmus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.EqualTracking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.EqualTracking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.FollowStimulus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.FollowStimulus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.StimulusComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.StimulusComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.LackOfPursuitL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.LackOfPursuitL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.LackOfPursuitR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.LackOfPursuitR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.DistinctMaxDevL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.DistinctMaxDevL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.DistinctMaxDevR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.DistinctMaxDevR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.OnsetPrior45L)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.OnsetPrior45L)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.OnsetPrior45R)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.OnsetPrior45R)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.IsVerticalNyst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.IsVerticalNyst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.OtherComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.OtherComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.HgnUnderstood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.HgnUnderstood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.VerticalNyst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.VerticalNyst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.HgnEstimatedAngleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.HgnEstimatedAngleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.LEstimatedAngleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.LEstimatedAngleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.REstimatedAngleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.REstimatedAngleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.ConvergencePresent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.ConvergencePresent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseHGN.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseHGN.DreCaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCaseHGN.DreCaseHgnId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
