@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Rbs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DreCaseRombergBalance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.AlmostFell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.AlmostFell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.BodyTremors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.BodyTremors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.CIRCSway)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.CIRCSway)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.CIRCSwayDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.CIRCSwayDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.EyelidTremos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.EyelidTremos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.OpenedEyes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.OpenedEyes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.FrontToBackSway)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.FrontToBackSway)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.FrontToBackSwayDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.FrontToBackSwayDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.InternalClock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.InternalClock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.LegTremos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.LegTremos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.MuscleToneFlaccid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.MuscleToneFlaccid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.MuscleToneRigid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.MuscleToneRigid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.NoSway)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.NoSway)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.RombergOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.RombergOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.RombergBalanceGiven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.RombergBalanceGiven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.SideToSideSway)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.SideToSideSway)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.SideToSideSwayDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.SideToSideSwayDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.Statement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.Statement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.OtherText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.OtherText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.UnableToPerform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.UnableToPerform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.UnableToStandStill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.UnableToStandStill)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.UnserstoodInstructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.UnserstoodInstructions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.UsedArms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.UsedArms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DreCaseRombergBalance.DreCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DreCaseRombergBalance.DreCaseId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DreCaseRombergBalance.DreCaseRBId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
