@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Rbs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].AlmostFell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].BodyTremors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].Circsway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].CircswayDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].EyelidTremos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].FrontToBackSway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].FrontToBackSwayDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].InternalClock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].LegTremos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].MuscleToneFlaccid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].MuscleToneRigid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].NoSway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].RombergOther)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].RombergBalanceGiven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].SideToSideSway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].SideToSideSwayDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].Statement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].OtherText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].UnableToPerform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].UnableToStandStill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].UnserstoodInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].UsedArms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].OpenedEyes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DreCaseRb[0].DreCase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DreCaseRb) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlmostFell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyTremors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Circsway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CircswayDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyelidTremos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontToBackSway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontToBackSwayDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalClock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegTremos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuscleToneFlaccid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuscleToneRigid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoSway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RombergOther)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RombergBalanceGiven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideToSideSway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideToSideSwayDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnableToPerform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnableToStandStill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnserstoodInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedArms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedEyes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DreCase.DrecaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DreCaseRbid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DreCaseRbid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DreCaseRbid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
